

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#allcolours,
#alternatives {
  font-size:10px;
}

#square {
  width: 20px;
  height: 20px;
  background-color:black;
  display:inline-block;
}

#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s;
  margin: 0 auto;
}

#fileinput {
  height: unset;
  border: none;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

.sidebyside {
  width: 100%;
  height: 100px;
  background-color: #999;
  display: inline-block;
  margin:0;
  padding:0;
  font-size: 8px;
  text-align: center;
}